#dcard{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 7px 0px;
}

#card{
  background-image: linear-gradient(lightskyblue,lightgreen);
}

.bg{
  /* The image used */
  background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm283-nunny-030_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=ed8cbfc577d6bc36860f059dbb18a5a9");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}